<!DOCTYPE html>

<html>
    <head>
        <title>damienbod test website</title>
    </head>
    <body>
        <div>
              damienbod test website for WiX installer
        </div>
    </body>
</html>